@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = "_Layout";
}

<div style="text-align:center">
<h3 >Congratulations You have now signed up! </h3>

    <a class="btn btn-primary" asp-controller="Play" asp-action="Index">Press me to play a game!</a>
</div>
