@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model DementiaWebsite.Models.Person
@{
    Layout = "_Layout";
}

        <fieldset>

            <form asp-controller="Login" asp-action="CreateUser" method="post" class="form-horizontal">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input type="email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger">Email</span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="PassWord" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input type="password" asp-for="PassWord" class="form-control" />
                        <span asp-validation-for="PassWord" class="text-danger">Password</span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="ConfirmPassWord" class="col-md-2 control-label">Repeat Password</label>
                    <div class="col-md-10">
                        <input type="password" asp-for="ConfirmPassWord" class="form-control" />
                        <span asp-validation-for="ConfirmPassWord" class="text-danger">Password</span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>
        </fieldset>

@await (Component.InvokeAsync<DementiaWebsite.ViewComponents.FooterViewComponent>())

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
    wow = new WOW(
        {

        })
        .init();
</script>