@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model DementiaWebsite.Models.Person
@{
    Layout = "_Layout";
}
<section class="contact-page">
    <div class="container">
        <div class="text-center">
            <h2>Sign in</h2>
        </div>

        <form asp-action="ConfirmUser" asp-controller="Login">
            @using (Html.BeginForm())
            {
                <p>
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="login-control" placeholder="..."/>
                </p>
                <p>
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="login-control" placeholder="..." />
                </p>
                <p>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="login-control" placeholder="..." />
                </p>
                <p>
                    <label asp-for="PassWord"></label>
                    <input asp-for="PassWord" class="login-control" placeholder="..." />
                </p>
                <p>
                    <a href="@Url.Action("ConfirmSignUp","Login")">
                        <button type="button">Sign up!</button>
                    </a>
                </p>
            }
        </form>

        <!--<div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                        <label>Fullname *</label>
                        <input type="text" name="name" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label>Password *</label>
                        <input type="email" name="email" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label>Username *</label>
                        <input type="number" class="form-control">
                    </div>
                    <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Sign up</button>

                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label>UserName *</label>
                        <input type="text" name="subject" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label>Password *</label>
                        <input type="password" name="subject" class="form-control" required="required">

                    </div>
                    <div class="form-group">
                        <br /><br /><br />
                        <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Log in</button>
                    </div>
                </div>
            </form>-->
    </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->

@await (Component.InvokeAsync<DementiaWebsite.ViewComponents.FooterViewComponent>())


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
    wow = new WOW(
        {

        })
        .init();
</script>