@addTagHelper "Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers"
@model DementiaWebsite.Models.Game
@{
    Layout = "_Layout";
}

    <p>
            <button type="submit">Create your post</button>
   </p>

@await (Component.InvokeAsync<DementiaWebsite.ViewComponents.FooterViewComponent>())