@{ 
    Layout = "_Layout";
}

<fieldset>
    <label style="color:black">Name: Rasmus</label><br />
    <label style="color:black">Age: 82</label><br />
    <label style="color:black">Completed games: 22</label><br />
    <label style="color:black">Time spent playing: 5 days and 23 hours</label><br />
</fieldset>

      @await (Component.InvokeAsync<DementiaWebsite.ViewComponents.FooterViewComponent>())


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="js/jquery.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
      <script src="js/wow.min.js"></script>
      <script>
	wow = new WOW(
	 {

		}	)
		.init();
      </script>
