<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
    <form class="form-inline">
        <div class="form-group">
            <a href="@Url.Action("Index","Game")">
                <button type="button" name="PLAY" class="btn btn-primary btn-lg" required="required">PLAY</button>
            </a>
        </div>
        <div class="form-group">
            <button name="GET MORE INFORMATION" class="btn btn-primary btn-lg" required="required">GET MO</button>
        </div>
    </form>
</div>
