<html>
<body>
    <div class="gallery">
        <div class="text-center">
            <h2>Choose a game to play</h2>
            <p>Depending on the game you choose, you will get a different experience</p>
        </div>
        <div class="container">
            <div class="col-md-4">
                <figure class="effect-marley">
                    <a href="@Url.Action("Index", "Play")">
                        <img src="~/img/block.jpg" alt="" class="img-responsive" />
                    <figcaption>
                            <h4>Puzzle Pitch</h4>
                        <p>Press to play.</p>
                    </figcaption>
                        </a>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/img/construction.jpg" alt="" class="img-responsive" />
                        <h4>Under development</h4>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/img/construction.jpg" alt="" class="img-responsive" />
                    <h4>Under development</h4>

                </figure>
            </div>
        </div>

        <div class="container">
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/img/construction.jpg" alt="" class="img-responsive" />
                    <h4>Under development</h4>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/img/construction.jpg" alt="" class="img-responsive" />
                    <h4>Under development</h4>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/img/construction.jpg" alt="" class="img-responsive" />
                    <h4>Under development</h4>
                </figure>
            </div>
        </div>
    </div>
@await (Component.InvokeAsync<DementiaWebsite.ViewComponents.FooterViewComponent>())
    jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="js/jquery.js"></script>
    Include all compiled plugins (below), or include individual files as needed
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
    wow = new WOW(
     {

        }   )
        .init();
    </script>
</body>
</html>